

.breweryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 0;
}
.breweryName{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    padding: 20px 16px;
}

.breweryInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.breweryText{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}

.carrousel {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    gap: 16px; 
    padding: 20px;
    width: 100%; 
}

.element {
    flex: 0 0 auto; 
    width: 156px;
    height: 104px;
    scroll-snap-align: start;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.699999988079071px;
    text-align: left;
    padding: 20px 16px;
}

.profileContainer{
    padding: 8px 16px;
    width: 100%;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.profilePhoto{
    width: 39px;
    height: 39px;
    border-radius: 100%;
}

.profileName{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    line-height: 23.08px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    padding-left: 10px;
}

.profileResponse{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 15.39px;
    letter-spacing: 0.004em;
    color: #E41AD6;
    text-align: right;
    margin-left: auto;
}

.profileComment{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left; 
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonOne{
    background: linear-gradient(90deg, #3540E8 0%, #E41AD6 100%);
    width: 90%;
    height: 48px;
    padding: 10px 5px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    cursor: pointer;
}

.buttonTwo {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: -15px;
    width: 90%;
    height: 48px;
    border-radius: 8px;
    margin: 10px 5px;
    cursor: pointer;
}

.buttonTwo::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #3540E8 0%, #E41AD6 100%);
    z-index: -1;
    border-radius: inherit;
}

.buttonTwo::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #07080f;
    z-index: -1;
    border-radius: inherit;
}






